@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {

  /* Font */
  --FF: "Nunito", sans-serif;
  --FS: 1.5rem;
  --FS-XL: 3rem;

  /* Color */
  --BGCOLOR: #475569;
  --ALT-BGCOLOR: #1E293B;
  --RADIAL-COLOR: WHITESMOKE;
  --LIGHT-COLOR: WHITESMOKE;
  --DARK-COLOR: BLACK;

  /* SQUARE */
  --SQUARE-BGCOLOR: PAPAYAWHIP;
  --SQUARE-SIZE: max(150PX, 20vw);

  /* General */
  --PADDING: 0.5rem;
  --SHADOWS: 0 6px 5px -5px var(--DARK-COLOR);
  --BORDERS: 2px solid var(--DARK-COLOR);
}

@media (prefers-color-scheme: dark) {
  :root {
    --BGCOLOR: BLACK;
    --ALT-COLOR: #333;
    --RADIAL-COLOR: rgb(217, 217, 217);
    --SQUARE-BGCOLOR: rgb(202, 174, 202);
  }
}

/* general styles */
body {
  font: var(--FS) var(--FF);
  min-height: 100vh;

  background-color: var(--BGCOLOR);
  background-image: radial-gradient(var(--RADIAL-COLOR), var(--BGCOLOR));
  display: flex;
  flex-direction: column;
}

header, nav, footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

header, footer {
  position: sticky;
  background-color: var(--ALT-BGCOLOR);
  color: var(--LIGHT-COLOR);
}

header {
  top : 0;
}

nav {
  background-color: var(--LIGHT-COLOR);
  color: var(--DARK-COLOR);
  padding: var(--PADDING);
  border-bottom: var(--BORDERS);
  box-shadow: var(--SHADOWS);
}

main {
  padding: var(--PADDING);
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 300px));
  gap: min(2vw, 20px);
}

main section {
  flex-grow: 1;
  padding: var(--PADDING);
}

footer {
  bottom: 0;
}

/* Features */

.square--highlight {
  --SQUARE-BGCOLOR: cornflowerblue;
}

.square{
  background-color: var(--SQUARE-BGCOLOR);
  width: var(--SQUARE-SIZE);
  height: var(--SQUARE-SIZE);
  border: var(--BORDERS);
  border-radius: 15px;
  display: grid;
  place-content: center;
  font-size: var(--FS-XL);
  box-shadow: var(--SHADOWS);
}